# Server
PORT=5000
NODE_ENV="development"

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.jdjilocjngjxdolthptl:aiMFwNcYqWOgC5OG@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.jdjilocjngjxdolthptl:aiMFwNcYqWOgC5OG@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"

JWT_SECRET=muhammad_rafi
JWT_EXPIRES_IN=1d

ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=hello_world